# Varibles

In [1]:
x,y,z= 'Orange','Banana','Apple'
print(x)
print(y)
print(z)

Orange
Banana
Apple

In [2]:
x=y=z='Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [3]:
#combine output
##using '+', needs to have the same type
x='Orange'
print('Fruit is ' + x)

Fruit is Orange

In [4]:
y='Fruit is '
print(y+x)

Fruit is Orange

In [6]:
## does not hae same type
z=2
print(y,x)
print (y,z)

Fruit is  Orange
Fruit is  2

# Numbers

In [9]:
x=1
d=1.0
e=2e12
y='Orange'
z=1j
print(type(x))
print(type(d))
print(type(e))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'complex'>

# casting

In [13]:
x=float(1)
y=int(2.8)#result in 2
z=int('2')
print(type(x))
print (x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'float'>
1.0
<class 'int'>
2
<class 'int'>
2

In [14]:
x=str(2)
y=str(3.0)
print (type(x))
print(x)
print(type(y))
print(y)

<class 'str'>
2
<class 'str'>
3.0

# string

In [15]:
##multiple lines of a string
z='''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(z)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [1]:
##strings are arrays--access by indexing, slicing
a='Orange is a fruit.'
print(a[0:5])
print(a[-5:-2])

Orang
rui

In [22]:
#get length of a string
f=len(b)
e=len(c)
print(e,f)

13 16

In [20]:
#tring method
##remve white space from begining or the end
b='  Hello, World! '
c=b.strip()
print(b.strip())
print(b)
print(c)

Hello, World!
  Hello, World!
Hello, World!

In [2]:
aa=' Orange '
print(aa.strip())

Orange

In [24]:
##change case
print(c.lower())
print(c.upper())
print(c)

hello, world!
HELLO, WORLD!
Hello, World!

In [25]:
##replace
z=c.replace('H','J')
print(z)

Jello, World!

In [26]:
##Split string to substring
a,b=z.split(',')
print(a)
print(b)

Jello
 World!

In [ ]:
##command line string input--need to have console
print('Enter your name:')
y=input()
Print('Hello, ', y)

In [3]:
##check string: Boolean
txt='I love my family'
x='love' in txt
print(x)

True

In [8]:
##string concatenation
a='Hello'
b='World'
print (a+' '+b + '!')

Hello World!

In [15]:
##combine stringwith number
age=36
# print (a + ' '+ b +',' +age)#wrong
print(a,' ', b,',', age)

Hello   World , 36

In [17]:
##string format
age=36
txt='I am {}'#{} is place holder
print(txt.format(age))

I am 36

In [20]:
qua=3
item=567
price=50
myorder='I want {} pieces of item {} for {} dollors.'
print(myorder.format(qua,item,price))
myor='I want to pay {2} dollars for {0} pieces of item {1}.'#using index as place holders
print(myor.format(qua,item,price))

I want 3 pieces of item 567 for 50 dollors.
I want to pay 50 dollars for 3 pieces of item 567.

In [25]:
##Escape character \",\"
txt="We are called \"friends\"."
print(txt)

We are called "friends".

In [26]:
##Sngle quote
'It\'s a dog'

"It's a dog"

In [27]:
##backslash
'http\\www'

'http\\www'

In [32]:
##New line
txt='Hello\nWorld'
print(txt)

Hello
World

In [33]:
##tab
txt='Hello\tWorld'
print(txt)

Hello	World

In [34]:
##back space
txt='Hello \bWorld'
print(txt)

Hello World

# #boolean

In [35]:
a=10
b=20
if a==b:
    print ('a=b')
else:
    print('a<>b')

a<>b

In [36]:
##Evaluate value or variables
print(bool(3))
print(bool('Hello'))

True
True

In [39]:
##build in funciton isinstance, determine if the object is a certain data type
x=20
print(isinstance(x, float))
print(isinstance(x,int))

False
True

# Operators

In [1]:
##arithmetic operator
x=3
y=10
print(y//x)#floor devision
print(x)
print(y%x)#modulus

3
3
1

In [5]:
##assignment operators
x=4
x+=3
print(x)

7

In [7]:
##comparison and logical operators
x=[1,2,3,4,5]
y=[3,4,5,6,7,8]
for i in x:
    for e in y:
        if i==e:
            print(i)

3
4
5

In [9]:
##identity and membership operators
for i in x:
    for e in y:
        if i is e:
            print(i)

3
4
5

# collections

In [10]:
##list: ordered, replacable, duplicate
##Tuple: ordered, unchangable, duplicate
##set: unordered, unindexed, no duplicate
##dictionary: unordered, changable, indeaxable, no duplicate

In [11]:
##list
thislist=['Orange','Apple','Banana']
print(thislist[1])##access the element in the list
print(len(thislist))

Apple
3

In [12]:
if 'Apple' in thislist:#check exist
    print('Apple')
for x in thislist:#loop through the list
    print(x)

Apple
Orange
Apple
Banana

In [13]:
##list methods
thislist.append('Cherry')#add to the end
print(thislist)

['Orange', 'Apple', 'Banana', 'Cherry']

In [14]:
thislist.insert(1,'Pear')#start with 0
print(thislist)

['Orange', 'Pear', 'Apple', 'Banana', 'Cherry']

In [15]:
thislist.remove('Banana')
print(thislist)

['Orange', 'Pear', 'Apple', 'Cherry']

In [40]:
thislist=['Orange', 'Pear', 'Apple', 'Banana', 'Cherry']#remove idexed element
print(thislist.pop())#return the removed one
print(thislist)
thislist.pop()#remove last one
print(thislist)#Have been removed
print(thislist.pop(1))#start at 0
print(thislist)
thislist.pop(1)
print(thislist)

Cherry
['Orange', 'Pear', 'Apple', 'Banana']
['Orange', 'Pear', 'Apple']
Pear
['Orange', 'Apple']
['Orange']

In [21]:
thislist=['Orange', 'Pear', 'Apple', 'Banana', 'Cherry']#remove idexed element
del thislist[0]
print(thislist)
del thislist
print(thislist)#thislist does not exist, show error

['Pear', 'Apple', 'Banana', 'Cherry']

NameError: name 'thislist' is not defined

In [22]:
thislist=['Orange', 'Pear', 'Apple', 'Banana', 'Cherry']#remove the elements
thislist.clear()
print(thislist)#return empty list

[]

In [23]:
##copy a list: **cannot use'list2=list1', list 2 is the reference of list1. A change of list 1 impacts list 2
thislist=['Pear', 'Apple', 'Banana', 'Cherry']
mylist=thislist.copy()
print(mylist)

['Pear', 'Apple', 'Banana', 'Cherry']

In [24]:
##lisst constructor
thislist=list(('Pear', 'Apple', 'Banana', 'Cherry'))##change a tuple to a list
print(type(thislist))
print(thislist)

<class 'list'>
['Pear', 'Apple', 'Banana', 'Cherry']

In [29]:
##count
thislist.count('Apple')#element count

1

In [30]:
##reverse
thislist.reverse()
print(thislist)

['Cherry', 'Banana', 'Apple', 'Pear']

In [31]:
##sort
thislist.sort()
print(thislist)

['Apple', 'Banana', 'Cherry', 'Pear']

In [32]:
##add two list
print(mylist)
print(thislist)
thislist.extend(mylist)
print(thislist)

['Pear', 'Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Pear']
['Apple', 'Banana', 'Cherry', 'Pear', 'Pear', 'Apple', 'Banana', 'Cherry']

In [36]:
print(thislist)
z=thislist+mylist
print(z)

['Apple', 'Banana', 'Cherry', 'Pear', 'Pear', 'Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Pear', 'Pear', 'Apple', 'Banana', 'Cherry', 'Pear', 'Apple', 'Banana', 'Cherry']

In [37]:
##index
thislist.index('Apple')#the first index

0

# Tuple: indexable, can have duplicates, no changable

In [42]:
##indexable
thistuple=('Apple', 'Banana', 'Cherry', 'Pear')
print(thistuple[-4:-2])

('Apple', 'Banana')

In [45]:
##unchangable=immuable
x=('Apple', 'Banana', 'Cherry', 'Pear')
y=list(x)
print(type(y))
y[1]='Orange'
x=tuple(y)
print(type(x))
print(x)

<class 'list'>
<class 'tuple'>
('Apple', 'Orange', 'Cherry', 'Pear')

In [46]:
##length
print(len(x))

4

In [38]:
thistuple=('Apple', 'Banana', 'Cherry', 'Pear')
print(thistuple[1])#access tuple value
for x in thistuple:#read thorugh a tuple
    print(x)

Banana
Apple
Banana
Cherry
Pear

In [39]:
##check if exists
if 'Apple' in thistuple:
    print('Yes')

Yes

In [41]:
##Tuple elements are unchangable
print(len(thistuple))

4

In [48]:
##Creat one item tuple
thistuple=('Apple',)## remember to have ,
print(type(thistuple))

thistuple=('Apple')
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [42]:
##delet tuple
del thistuple
print(thistuple)#return an error since it does not exist

NameError: name 'thistuple' is not defined

In [49]:
##join tuples together
this=('Apple','Cherry')
that=('a','b')
t2=this+that
print(t2)
print(type(t2))

('Apple', 'Cherry', 'a', 'b')
<class 'tuple'>

In [45]:
##Tuple constructor
thistuple = tuple (['Apple', 'Banana', 'Cherry', 'Pear'])#change list to tuple
mytuple=tuple(('Apple', 'Banana', 'Cherry', 'Pear')) #define a tuple
print(type(thistuple))
print(type(mytuple))

<class 'tuple'>
<class 'tuple'>

In [46]:
##Tuple methods
print(mytuple.count('Apple'))
print(mytuple.index('Apple'))

1
0

# Set: inindexed, unordered

In [47]:
thisset={'Apple', 'Banana', 'Cherry', 'Pear'}
print(thisset)

{'Banana', 'Cherry', 'Apple', 'Pear'}

In [48]:
##access the set items
for x in thisset:
    print(x)

Banana
Cherry
Apple
Pear

In [ ]:
# check it exists
if 'Apple' in thisset:
    print('Apple')

In [50]:
print('Apple' in thisset )
print('tomato' in thisset)

True
False

In [51]:
##add items
thisset.add('Orange')#add one
print(thisset)
thisset.update(['Mango','Grape'])#add multiple
print(thisset)

{'Banana', 'Apple', 'Cherry', 'Orange', 'Pear'}
{'Banana', 'Apple', 'Mango', 'Cherry', 'Orange', 'Pear', 'Grape'}

# Dictionary: unordered, changable and indexed

In [55]:
thisdict={'brand':'Ford', 'Model': 'Mustang', 'Year':'1995'}
print(thisdict)

{'brand': 'Ford', 'Model': 'Mustang', 'Year': '1995'}

In [51]:
##access the values
x=thisdict['Model']##as index
print(x)
y=thisdict.get('Model')#get function
print(y)

Mustang
Mustang

In [52]:
##change values
thisdict['Year']=2018
print(thisdict["Year"])
print (thisdict)

2018
{'brand': 'Ford', 'Model': 'Mustang', 'Year': 2018}

In [54]:
##loop 
for x in thisdict:#keys, index
    print(x)#only each key
    print(thisdict[x])#each value for each key

brand
Ford
Model
Mustang
Year
2018

In [57]:
for x in thisdict.values():#values
    print(x)

Ford
Mustang
2018

In [58]:
for x, y in thisdict.items():#key+values
    print(x,y)

brand Ford
Model Mustang
Year 2018

In [59]:
##check exist in key or values
if 'Model' in thisdict:
    print('Yes')

Yes

In [60]:
if 2018 in thisdict.values():
    print('Yes')

Yes

In [56]:
##length
print(len(thisdict))

3

In [57]:
##add
thisdict['Color']='Red'
print(thisdict)

{'brand': 'Ford', 'Model': 'Mustang', 'Year': '1995', 'Color': 'Red'}

In [62]:
##remove
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop('model')
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [58]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()#remove last one
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [59]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict['model']
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [65]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [66]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict=thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [67]:
##copy 
youdict=dict(mydict)
print(youdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [69]:
##constructor
adict=dict(brand='Ford', model='Mustang',year=1964)
print(adict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [71]:
print(adict.keys())
print(adict.items())
print(adict.values())

dict_keys(['brand', 'model', 'year'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_values(['Ford', 'Mustang', 1964])

In [73]:
print(adict.fromkeys('model'))# need to specify the key

{'m': None, 'o': None, 'd': None, 'e': None, 'l': None}

# if else

In [76]:
#if
a=3
b=5
if a>b:
    print('a>b')
else:#not neccesory to have this
    print('a<=b')

a<=b

In [77]:
b=3
if b>a:
    print('b>a')

elif a<b:
    print('a<b')
else:
    print('a=b')

a=b

# short hand if

In [78]:
print ('a') if a>b else print('b')
print('a') if a>b else print('=') if a==b else print('b')

b
=

In [80]:
c=5
if a>b and c>a:
    print('a')
else: 
    print(False)

False

In [81]:
if a>b or c>a:
    print(True)
else:
    print(False)

True

In [60]:
##nested if
x=41
if x>10:
    print('x>10')
    if x>20:
        print('x>20')
    else:
        print('10<x<20')

x>10
x>20

In [61]:
##pass statement
a=33
b=200
if b>a:
    pass#if cannot have no content, so put pass to avoid getting error

In [65]:
#more conditions
2 < 5
3 > 7
x = 11
x > 10
2 * x < x
type(True)

bool

# While loop: excute a set of statements as long as a condition is true

In [82]:
i=1
while i<6:
    print(i)
    i+=1#important, if dont have this, the loop will go frever

1
2
3
4
5

In [83]:
##break statement
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [84]:
##continue statement
i=0
while i<6:
    i+=1
    if i ==3:
        continue#skip i if the comdition met
    print(i)

1
2
4
5
6

# For loop; iterate over a squence: execute a set of statements once for each item in a list, tuple, set etc.

In [85]:
# loop though a list or string
fruit=['Apple','Orange','Banana']
for x in fruit:
    print(x)
for x in 'Banana':
    print(x)

Apple
Orange
Banana
B
a
n
a
n
a

In [90]:
##break statement: if
for x in fruit:
    print(x)
    if x=='Orange':
        break

Apple
Orange

In [91]:
for x in fruit:
    if x=='Orange':
        break
    print(x)

Apple

In [92]:
for x in fruit:
    if x=='Orange':
        continue
    print(x)

Apple
Banana

In [93]:
##range functio 
for x in range(6):
    print(x)

0
1
2
3
4
5

In [94]:
for x in range(len(fruit)):
    print(x)

0
1
2

In [95]:
##set start, end and increment
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [96]:
##else in for loop
for x in range(6):
    print(x)
else:
    print('Finished')

0
1
2
3
4
5
Finished

In [ ]:
# nested for loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

# function

In [98]:
def my_function(): #pass a action
    print('Name')
my_function()

Name

In [99]:
##with parameter
def my_function(country):
    print('I am from '+country)
my_function ('China')

I am from China

In [100]:
##default parameter
def my_function (country='China'):
    print('I am from '+country)
    
my_function('Japan')
my_function()

I am from Japan
I am from China

In [103]:
##pass a list as a parameter
def my_function(fruit):
    for x in fruit:
        print(x)
list=['Apple','Orange']
my_function(list)
my_function(['Cherry','Banana'])

Apple
Orange
Cherry
Banana

In [105]:
##return value
def my_function (x):
    return 5*x
my_function(3)
print(my_function(3))

15

In [67]:
##keyword argument
def myfunction (child1, child2, child3):
    print ('The youngest child is '+ child3)
myfunction(child1='Amy', child2='Goege', child3='Matt')

The youngest child is Matt

In [71]:
##Arbitary auguments: if don't know how mnay arguments will be in the function
def myfunciton (*kid):
    print('The youngest child is '+ kid[1])
myfunciton('Amy', 'Goege', 'Matt')

The youngest child is Goege

In [75]:
##pass statement
def myfunction():
    pass

In [76]:
##Recursion: call itself, be carefull it won't end
def tri(k):
    if (k>0):
        Re=k+tri(k-1)
        print(k)
    else:
        Re=0
    return Re
print('\n\n Recursion Example results')
tri(7)

 Recursion Example results
1
2
3
4
5
6
7

28

In [77]:
##Ex: Wage
def Totalwage (hours, hourlywage):
    if hours<=40:
        Totalwage=hours*hourlywage
    else:
        Totalwage=40*hourlywage+(hours-40)*1.5*hourlywage
    return Totalwage
Totalwage(50, 20)

1100.0

In [106]:
##lamda function: anonymas function, can take a number of arguments, but only has one expression
x=lambda a: a+10#variable is a function
print(x(10))

20

In [107]:
x=lambda x,y: x+y#x and y both are arguments
print(x(2,3))

5

In [110]:
x=lambda e,y,z: z*y+e
print(x(2,3,4))

14

In [111]:
##anonymous function used in another function
def myfunc(n):
    return lambda a: a*n
x=myfunc(5)#assign a variable to the function
print(x(10))#lambda function

50

In [112]:
##always triple the function
def myfunc(n):# n is an argument
    return lambda a: a*n#a is a bunnd variable, an argument to a lambda function
mytriple=myfunc(3)
mytriple(10)

30

In [113]:
##use the same function definition to make both functions
def myfunc(n): 
    return lambda a: a*n#return a anonymous function
mydoubler =myfunc(2)#return a function
mytripler=myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [90]:
high_ord_func=lambda x, func:x+func(x)
high_ord_func(2, lambda x: x*x)

6

# class and object: object oriente programming language

In [114]:
##class: constructor
class Myclass:
    x=5
p1=Myclass()
print(p1.x)

5

In [78]:
##built-in function: __init__() to assign values to object properties, call property
##basically it is to build a class an the properties for its objects
class Person:
    def __init__(self,name,age):#assign values to name and age (object properties), self represents a object
        self.name=name#object name
        self.age=age#object age
        
p1=Person('John', '24')##creat an object
print(p1.name)#call the property of the object
print(p1.age)

John
24

In [79]:
##object methods (functions), call function
##self parameter: is a ref to current instance of the class, used to access variables that belongs to the class
##has to be the first parameter of any function in the class
class Person:#name/define class
    def __init__(self, name, age):#define object's properties, self represents the object
        self.name=name
        self.age=age
        
    def myfunction (slf):#define object's function, slf represent the object
        print("My name is " + slf.name)
        
p1=Person('John', '24')
p1.myfunction()

My name is John

In [121]:
##modify object propertis
print (Person)

<class '__main__.Person'>

In [123]:
print(p1)

<__main__.Person object at 0x00000153D32A3438>

In [124]:
print (p1.age)
p1.age=40
print(p1.age)

24
40

In [81]:
##delete property from the p1 object
p2=Person('Amy', 19)
del p1.age#delete object
del p1 #delete object

In [83]:
print(p2.age)
print(p1.name)#error because it is removed

19

NameError: name 'p1' is not defined

In [89]:
class Horse (object):
    """Horse represetns a Horse"""
    Species= "Equus ferus caballus"
    def __init__(self, color, weight, wild=False):##define properties
        self.color=color
        self.weight=weight
        self.wild=wild
        
    def __repr__(self):#official string representation
        return "%s horse weighting %s and wild status is %s" %(self.color, self.weight, self.wild)
    
    def make_sound (self):#define functions
        print ("neighhhh")
        
    def movement (self):
        return "walk"
    
o1=Horse('White', 100, True)
print (o1)
o1.make_sound()
o1.movement()

White horse weighting 100 and wild status is True
neighhhh

'walk'

# inheritance:inhirit all methods and propertie from another class. Parent class is the class being inherited--base class, child class inherits from another class--derived class

In [131]:
##creat parent class
class Person:
    def __init__(ob, name, age):
        ob.name=name
        ob.age=age
        
    def myfunc(fun):
        print('My name is '+fun.name)
        
p1=Person('john', 23)
print(p1.myfunc())
print(p1.name)

My name is john
None
john

In [132]:
##creat child class
class Stu(Person):
    pass#inheritant all properties and methods from parent class

In [133]:
##creat an object in child class, inherit properties and methods, but not objects
x=Stu('Mike', 30)
print (x.myfunc())

My name is Mike
None

In [135]:
##add __init__() into child class. It will override the parent __init__function
class student(Person):
    def __init__(self, fname, lname):
        self.firstname=fname
        self.lastname=lname
        
p1=student('John', 'King')
print(p1.fname)
print(p1.lname)

John
King

In [91]:
# to keep the inheritance of a parent's __init__() function, ass a call to the parent's __init__() function 
class Person:#parent class
    def __init__(self, fname, lname):
        self.firstname=fname
        self.lastname=lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
class student(Person):
    def __init__(self,fname,lname,year):
        Person.__init__(self,fname,lname)
        self.graduateyear=year
        
x=student('John','King', 2019)
print(x.graduateyear)

2019

# Iterator: object contains a countable number of values

In [1]:
##iterable function for lit, tuple, dic and set
mytuple=('Apple', 'Banana', 'Orange')
myit=iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

Apple
Banana
Orange

In [92]:
##loop through an iterator
mytuple=('Apple', 'Banana', 'Orange')
for x in mytuple:
    print(x)

Apple
Banana
Orange

In [93]:
mystr='banana'
for x in mystr:
    print(x)

b
a
n
a
n
a

In [2]:
##string is also iterable
mystr='Banana'
myit=iter(mystr)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

B
a
n
a
n
a

In [4]:
##creat an iterator
class Mynumbers:
    def __iter__(self):#creat iterator that returns numbers, starting with 1
        self.a=1
        return self
    
    def __next__(self):#each sequence will increase by one
        x=self.a
        self.a+=1
        return x
myclass=Mynumbers()
myiter=iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4

In [9]:
##stop after a certern iterator
class mynumbers:
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        if self.a<=20:
            x=self.a
            self.a+=1
            return x
        else: 
            raise StopIteration
myclass=mynumbers()
myit=iter(myclass)
for x in myit:
    print (x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# datetime

In [96]:
import datetime
x=datetime.datetime.now()
print(x)

2019-11-04 18:34:53.188410

In [107]:
print(x.strftime('%y'))
print(x.strftime('%m'))
print(x.strftime('%d'))
print(x.strftime('%H:%M:%S'))
print(x.strftime('%m%d%Y, %H:%M:%S'))
print(x.strftime('%m-%d-%Y, %H:%M:%S'))#2019
print(x.strftime('%m-%d-%y, %H:%M:%S'))#19
print(x.strftime('%m/%d/%y, %H:%M:%S'))

19
11
04
18:34:53
11042019, 18:34:53
11-04-2019, 18:34:53
11-04-19, 18:34:53
11/04/19, 18:34:53

In [11]:
print(x.year)#method
print(x.strftime('%A'))

2019
Tuesday

In [95]:
##creat data object
import datetime
y=datetime.datetime(2020,5,17)
print(y)
print(y.year)
print(y.strftime('%A'))
print(y.strftime('%B'))#date
print(y.strftime('%C'))#??

2020-05-17 00:00:00
2020
Sunday
May
20

In [104]:
##Creat data string from timestamp
from datetime import datetime
timestamp=1528797322
date_time=datetime.fromtimestamp(timestamp)
print(date_time)
print(date_time.strftime('%m/%d/%Y, %H:%M:%S'))
print(date_time.strftime('%d %b, %Y'))
print(date_time.strftime('%d %B, %Y'))
print(date_time.strftime('%I%p'))

2018-06-12 02:55:22
06/12/2018, 02:55:22
12 Jun, 2018
12 June, 2018
02AM

# RegEx: regular expression

In [15]:
import re#searh return a Match Object if there is a match anywhere in the string
txt='The rain in Spain'
x=re.search('^The.*Spain$', txt)#start with The and stop with Spain
print(x)
if (x):
    print('Yes')
else:
    print('No')

<re.Match object; span=(0, 17), match='The rain in Spain'>
Yes

In [16]:
y=re.findall('ai',txt)
print(y)

['ai', 'ai']

In [19]:
z=re.findall('Portugal', txt)
print(z)
if (z):
    print('Yes')
else:
    print('No')

[]
No

In [20]:
x=re.search('\s', txt)
print('Returns a match where the string contains a white space character', x.start())

Returns a match where the string contains a white space character 3

In [21]:
x=re.search('Portugal', txt)#if it did not find the match, return 'None'
print(x)

None

In [23]:
##split: split at each match
x=re.split('\s',txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [25]:
x=re.split('\s',txt,1)#only split on the first occurrence
print(x)

['The', 'rain in Spain']

In [27]:
#sub: replace
x=re.sub('\s','8',txt)#every white space is replaced by 8
print (x)

The8rain8in8Spain

In [28]:
x=re.sub('\s','9',txt,1)#only the first whitespce is replaced by 9
print(x)

The9rain in Spain

# Match object

In [29]:
x=re.search('ai',txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [30]:
x=re.search(r'\bS\w+', txt)
print(x.string)#returns the string passed into the function
print(x.span())#returns a tuple containing the start-, and end positions of the match.
print(x.group())#returns the part of the string where there was a match

The rain in Spain
(12, 17)
Spain

# https://www.youtube.com/watch?v=rfscVS0vtbw

In [5]:
##variable
character_name='John'
character_age='35'
print('There was a man named '+character_name+'.')
print('He is '+character_age+'.')

There was a man named John.
He is 35.

In [8]:
##string
print('orange\napple')
print('orange\"apple')

orange
apple
orange"apple

In [10]:
##function modify string
phrase='Orange'

print(phrase.upper())
print(phrase.upper().isupper())

ORANGE
True

In [15]:
print(len(phrase))
print(phrase[2])
print(phrase.index('O'))
print(phrase.replace('O','P'))

6
a
0
Prange

In [16]:
##Number
num=5
print(str(num) + ' is my favorite number.')

5 is my favorite number.

In [17]:
num=-5
print(abs(num))

5

In [18]:
print(pow(3,2))#power

9

In [20]:
print(max(4,6,9))
print(min(3,2,5,9))

9
2

In [21]:
print(round(3.7))

4

In [22]:
from math import *#include more math functions
print(floor(3.7))
print(ceil(3.7))
print(sqrt(36))

3
4
6.0

In [26]:
##list
friends=['John', 'Karen','Jim','Kate','Jane']
print(friends[2])
print(friends[1:])
print(friends[1:3])

Jim
['Karen', 'Jim', 'Kate', 'Jane']
['Karen', 'Jim']

In [27]:
friends[1]='Mike'
print(friends)

['John', 'Mike', 'Jim', 'Kate', 'Jane']

In [30]:
num=[1,2,3,4,5]
a=[1, 'Kate', False]
friends.extend(num)
friends.append('Jane')
print(friends)

['John', 'Mike', 'Jim', 'Kate', 'Jane', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Jane']

In [32]:
friends.insert(1, 'Geoge')
print(friends)

['John', 'Geoge', 'Geoge', 'Mike', 'Jim', 'Kate', 'Jane', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Jane']

In [33]:
friends.remove('Jim')
print(friends)

['John', 'Geoge', 'Geoge', 'Mike', 'Kate', 'Jane', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Jane']

In [34]:
friends.pop()
print(friends)

['John', 'Geoge', 'Geoge', 'Mike', 'Kate', 'Jane', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [36]:
print(friends.index('Mike'))

3

In [37]:
print(friends.count(4))

3

In [39]:
friend=['John', 'Geoge', 'Geoge', 'Mike', 'Kate', 'Jane']
friend.sort()
print(friend)

['Geoge', 'Geoge', 'Jane', 'John', 'Kate', 'Mike']

In [40]:
friend2=friends.copy
print(friend2)

<built-in method copy of list object at 0x0000020810698348>

In [41]:
##Tuple: if you want to store something that won't be changed
coordinates=(4, 5,6,7)#immunable, cannot change it
print(coordinates[1])
type(coordinates)

5

tuple

In [42]:
coordinates[1]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
coordinates1=[(4,5),(6,7)]

In [46]:
##function 
def say_hi(name,age):
    print('Hello '+name+','+'you are '+age)
say_hi('Mike', '20')

Hello Mike,you are 20

In [47]:
def say_hi(name,age):
    print('Hello '+name+','+'you are '+str(age))
say_hi('Mike', 20)

Hello Mike,you are 20

In [48]:
##return
def cube(num):
    num*num*num
print(cube(3))

None

In [49]:
def cube(num):
    return num*num*num#give value back for this function 
print(cube(3))

27

In [50]:
def cube(num):
   x=num*num*num#give value back for this function 
print(cube(3))

None

In [51]:
def cube(num):
    return num*num*num#give value back for this function
    print('Orange')#cannot work becasue return breaks the function 
result=cube(4)
print(result)

64

In [52]:
##if statement: make decision 
is_male=True
if is_male:
    print('You are male.')

You are male.

In [53]:
is_male=False
if is_male:
    print('You are male.')
else:
    print('You are not a male.')

You are not a male.

In [55]:
is_tall=True
if is_male or is_tall:
    print('You are male or tall or both.')

You are male or tall or both.

In [57]:
def max_num(num1, num2, num3):
    if num1>=num2 and num1>=num3:
        return num1
    elif num2>=num1 and num2>=num3:
        return num2
    else:
        return num3
print(max_num(2,4,6))

6