## T test
https://towardsdatascience.com/inferential-statistics-series-t-test-using-numpy-2718f8f9bf2f

In [1]:
## Import the packages
import numpy as np
from scipy import stats
import math
import statistics

In [104]:
## Define 2 random distributions
#Sample Size
N = 12
#Gaussian distributed data with mean = 2 and var = 1
# a = np.random.randn(N) + 0.46
a=np.random.normal(loc=1.35, scale=0.56, size=12)
#Gaussian distributed data with with mean = 0 and var = 1
# b = np.random.randn(N)+ 0.83
b=np.random.normal(loc=1.83, scale=0.71, size=12)
print(a.mean(), a.std())
print(b.mean(), b.std())

1.1522272437481849 0.6171130905241872
1.812209003687622 0.5619162267382823

In [105]:
print(a,b)

[1.8674571  1.18733111 0.21627625 0.45507135 1.19706131 1.60918076
 0.47465175 1.70987419 0.29503813 1.98955158 1.14546475 1.67976865] [1.5696153  1.78447579 1.16594989 1.90959202 1.79580614 1.24435313
 1.73391979 1.92157827 1.37117418 2.30094    1.56607577 3.38302776]

In [116]:
math.log10(10)

1.0

In [117]:
A=[]
for el in a:
    A.append(math.log10(el))
print(A)
print(statistics.mean(A))

[0.2712506343003582, 0.07457184799350748, -0.6649911719503532, -0.3419205057300637, 0.0781163948055437, 0.2066048309775035, -0.32362491697959644, 0.23296415653059457, -0.5301218544720842, 0.29875520243927634, 0.05898173010537454, 0.22524947080849483]
-0.03451368176428703

In [118]:
B=[]
for el in b:
    B.append(math.log10(el))
print(B)
print(statistics.mean(B))

[0.19579322258746612, 0.25151066061881566, 0.0666798853821832, 0.2809405920286865, 0.25425945096207275, 0.09494364622973973, 0.23902900274958133, 0.2836580798595673, 0.1370926256071779, 0.3619052946543534, 0.19481277104230832, 0.5293055612759235]
0.2408275660831563

In [129]:
import pandas as pd

In [124]:
B1

           0
0   0.510385
1   0.389482
2   0.253275
3   1.051096
4   0.690152
5   0.864302
6   1.130185
7  -1.206047
8   1.344729
9   1.592532
10  0.771322
11  0.681321

In [130]:
B1=B.copy()
B1

[0.19579322258746612,
 0.25151066061881566,
 0.0666798853821832,
 0.2809405920286865,
 0.25425945096207275,
 0.09494364622973973,
 0.23902900274958133,
 0.2836580798595673,
 0.1370926256071779,
 0.3619052946543534,
 0.19481277104230832,
 0.5293055612759235]

In [131]:
B2=pd.DataFrame(B1)
B2

           0
0   0.195793
1   0.251511
2   0.066680
3   0.280941
4   0.254259
5   0.094944
6   0.239029
7   0.283658
8   0.137093
9   0.361905
10  0.194813
11  0.529306

In [132]:
A1=A.copy()
A2=pd.DataFrame(A1)
A2

           0
0   0.271251
1   0.074572
2  -0.664991
3  -0.341921
4   0.078116
5   0.206605
6  -0.323625
7   0.232964
8  -0.530122
9   0.298755
10  0.058982
11  0.225249

In [133]:
A2=pd.DataFrame(A2)
B2=pd.DataFrame(B2)

In [134]:
A2.to_csv('D:\Work\project 2014june\TYR paper\Data\A2.csv')

In [122]:
a1.to_csv('D:\Work\project 2014june\TYR paper\Data\a11.csv')

OSError: [Errno 22] Invalid argument: 'D:\\Work\\project 2014june\\TYR paper\\Data\x0711.csv'

In [135]:
B2.to_csv('D:\Work\project 2014june\TYR paper\Data\B2.csv')

In [185]:
## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#In standard statistical practice, ddof=1 provides an unbiased estimator of the variance of a hypothetical infinite population. 
#ddof=0 provides a maximum likelihood estimate of the variance for normally distributed variables.

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)
print(var_a)
print(var_b)

0.3153874831931192
0.4397308003707465

In [186]:
#std deviation
s = np.sqrt((var_a + var_b)/2)
s

0.6144584133868889

In [187]:
## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))
## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)

print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value (computed internally) we get a good p value of 0.0005 and thus we reject the null hypothesis and thus it proves that the mean of the two distributions are different and statistically significant.

t = -2.508963656805396
p = 1.9800279304741593

In [109]:
## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = -2.6226677144359347
p = 0.015543872883093501

In [119]:
## Cross Checking with the internal scipy function
t3, p3 = stats.ttest_ind(A,B)
print("t = " + str(t3))
print("p = " + str(p3))

t = -2.650591785722225
p = 0.01460710855188257

# 7/2 Pandas: CRUD-create, read, pdate, delete

### create

In [136]:
# Series with duplicate index
goerge=pd.Series([10,17,1,22], index=['1968', '1969', '1970','1970'], name='George')
goerge

1968    10
1969    17
1970     1
1970    22
Name: George, dtype: int64

In [137]:
#using dictionary cannot have duplicate index
g2=pd.Series({'1969': 7, '1970': [1,22]}, index=['1969','1970','1970'])
g2

1969          7
1970    [1, 22]
1970    [1, 22]
dtype: object

### read and select

In [138]:
#using index
goerge['1968']

10

In [139]:
goerge['1970']

1970     1
1970    22
Name: George, dtype: int64

In [140]:
#loop/iterate
for item in goerge:
    print(item)

10
17
1
22

In [141]:
#test the membership using values
22 in set(goerge)

True

In [142]:
22 in goerge.values

True

In [143]:
22 in goerge # cannot use 'in' for value check

False

In [144]:
#test membership using index can use 'in'
'1970' in goerge

True

In [145]:
#show both index and value
for item in goerge.iteritems():
    print(item)

('1968', 10)
('1969', 17)
('1970', 1)
('1970', 22)

### update

In [147]:
#using index to update
goerge['1968']=4
goerge

1968     4
1969    17
1970     1
1970    22
Name: George, dtype: int64

In [148]:
#add new index
goerge['1973']=24
goerge

1968     4
1969    17
1970     1
1970    22
1973    24
Name: George, dtype: int64

In [150]:
goerge['1970'] =2 #change both 1970
goerge

1968     4
1969    17
1970     2
1970     2
1973    24
Name: George, dtype: int64

In [151]:
#using location to pudate
goerge.iloc[3]=22
goerge

1968     4
1969    17
1970     2
1970    22
1973    24
Name: George, dtype: int64

In [153]:
#using append to add
goerge.append(pd.Series({'1974':5})) # return a new series

1968     4
1969    17
1970     2
1970    22
1973    24
1974     5
dtype: int64

In [154]:
goerge

1968     4
1969    17
1970     2
1970    22
1973    24
Name: George, dtype: int64

In [155]:
#using set_value to add to existing series
goerge.set_value('1975', 20)
goerge

C:\Users\14805\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

1968     4
1969    17
1970     2
1970    22
1973    24
1975    20
Name: George, dtype: int64

### deletion: not common, more common to use filter and masks to create a new series

In [156]:
del goerge['1973'] #on existing series
goerge

1968     4
1969    17
1970     2
1970    22
1975    20
Name: George, dtype: int64

In [157]:
# filter
goerge[goerge<=2]

1970    2
Name: George, dtype: int64

### Indexing

In [161]:
goerge

1968     4
1969    17
1970     2
1970    22
1975    20
Name: George, dtype: int64

In [158]:
goerge.index

Index(['1968', '1969', '1970', '1970', '1975'], dtype='object')

In [159]:
#determine index unique
goerge.index.is_unique

False

In [160]:
#check values
goerge.is_unique

True

In [163]:
goerge['1976']=20
goerge

1968     4
1969    17
1970     2
1970    22
1975    20
1976    20
Name: George, dtype: int64

In [164]:
goerge.is_unique #check the unique for values again

False

In [167]:
#index by index position
goerge.iloc[1]

17

In [168]:
goerge.iloc[[1,3]] #using list

1969    17
1970    22
Name: George, dtype: int64

In [174]:
goerge.iloc[1:3]

1969    17
1970     2
Name: George, dtype: int64

In [169]:
#index label
goerge.loc['1968']

4

In [173]:
goerge.loc[['1968', '1975']] #using list

1968     4
1975    20
Name: George, dtype: int64

In [175]:
#at and iat similar to loc and iloc, but have array for duplicate
goerge.at['1970']#pull out as array

array([ 2, 22], dtype=int64)

In [176]:
goerge.loc['1970']#pull out as series

1970     2
1970    22
Name: George, dtype: int64

In [181]:
goerge.at[['1968', '1970']] # cannot take two

ValueError: Invalid call for scalar access (getting)!

In [182]:
#ix support both label and position and is confusing, not suggested
goerge.ix[0]

C:\Users\14805\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

4

### Slicing

In [184]:
goerge.iloc[0:2]

1968     4
1969    17
Name: George, dtype: int64

### Boolean array

In [185]:
mask=goerge>20 #boolean array
mask

1968    False
1969    False
1970    False
1970     True
1975    False
1976    False
Name: George, dtype: bool

In [186]:
goerge+2 #return a new series

1968     6
1969    19
1970     4
1970    24
1975    22
1976    22
Name: George, dtype: int64

In [187]:
goerge

1968     4
1969    17
1970     2
1970    22
1975    20
1976    20
Name: George, dtype: int64

In [188]:
goerge[mask]

1970    22
Name: George, dtype: int64

In [189]:
mask2=goerge<=4
goerge[mask|mask2] #either fit mask or mask2

1968     4
1970     2
1970    22
Name: George, dtype: int64

In [190]:
goerge[mask | (goerge<=2)]#or

1970     2
1970    22
Name: George, dtype: int64

In [191]:
goerge[(goerge>20)& (goerge>=22) ] #and

1970    22
Name: George, dtype: int64

In [192]:
goerge[~mask] #not

1968     4
1969    17
1970     2
1975    20
1976    20
Name: George, dtype: int64

# 7/3 Series methods

In [4]:
import pandas as pd
song_66=pd.Series([2, None, 11, 9],
                 index=['Goerge', 'Ringo', 'John', 'Paul'],
                  name='Counts' )
song_69=pd.Series([18,22, 7, 5],
                 index=[ 'John', 'Paul', 'Goerge', 'Ringo'],
                 name='Counts')

### Iteration

In [196]:
for value in song_66:
    print(value)

2.0
nan
11.0
9.0

In [198]:
for idx, value in song_66.iteritems(): #extract key value pairs and put them into their own variables
    print(idx, value)

Goerge 2.0
Ringo nan
John 11.0
Paul 9.0

In [199]:
for item in song_66.iteritems():
    print(item)

('Goerge', 2.0)
('Ringo', nan)
('John', 11.0)
('Paul', 9.0)

In [200]:
item[0]

'Paul'

In [201]:
item[1]

9.0

In [202]:
for idx in song_66.keys():
    print(idx)

Goerge
Ringo
John
Paul

In [203]:
# Difference between list, series and numpy in operation
[1,2,3,4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [204]:
pd.Series([1,2,3,4])*2

0    2
1    4
2    6
3    8
dtype: int64

In [205]:
np.array([1,2,3,4])*2

array([2, 4, 6, 8])

In [208]:
#deal with null before doing any operation
song_66.fillna(0)+song_69.fillna(0)

Goerge     9.0
John      29.0
Paul      31.0
Ringo      5.0
Name: Counts, dtype: float64

In [209]:
song_66+song_69

Goerge     9.0
John      29.0
Paul      31.0
Ringo      NaN
Name: Counts, dtype: float64

### Getting and setting values

In [210]:
song_66.get_value('John')

C:\Users\14805\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

11.0

In [211]:
song_66.loc['John']

11.0

In [213]:
song_66['John']

11.0

In [214]:
song_66.John#index as an attribute

11.0

In [215]:
#check all keyword in python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [216]:
song_66

Goerge     2.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [217]:
#set updates the series IN PLACE
song_66.set_value('Ringo', 4)

C:\Users\14805\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

Goerge     2.0
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [218]:
song_66

Goerge     2.0
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

### Reset index

In [219]:
# reset_index returns a new dataframe and move current index to a column
song_66.reset_index()

    index  Counts
0  Goerge     2.0
1   Ringo     4.0
2    John    11.0
3    Paul     9.0

In [229]:
song_66.reset_index().index #return a list, previously the index is a object

RangeIndex(start=0, stop=4, step=1)

In [220]:
song_66

Goerge     2.0
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [221]:
song_66.reset_index(drop=True)

0     2.0
1     4.0
2    11.0
3     9.0
Name: Counts, dtype: float64

In [223]:
song_66

Goerge     2.0
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [224]:
#reindex
song_66.reindex(['Billy', 'Eric', 'Goerge', 'Yoko'])

Billy     NaN
Eric      NaN
Goerge    2.0
Yoko      NaN
Name: Counts, dtype: float64

In [226]:
#update index
song_66.rename({'Ringo':'Richard'}) #return a new series

Goerge      2.0
Richard     4.0
John       11.0
Paul        9.0
Name: Counts, dtype: float64

In [227]:
song_66

Goerge     2.0
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [228]:
song_66.rename(lambda x: x.lower())

goerge     2.0
ringo      4.0
john      11.0
paul       9.0
Name: Counts, dtype: float64

In [230]:
song_66['Goerge']=None
song_66

Goerge     NaN
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

### Count

In [231]:
song_66.count() #entry count, does not count null

3

In [232]:
song_66.value_counts()#reture a value frequency

9.0     1
11.0    1
4.0     1
Name: Counts, dtype: int64

In [233]:
song_66['Matt']=11
song_66

Goerge     NaN
Ringo      4.0
John      11.0
Paul       9.0
Matt      11.0
Name: Counts, dtype: float64

In [234]:
#get unique values include null
song_66.unique()

array([nan,  4., 11.,  9.])

In [235]:
song_66.nunique() #count unique, but exclude null

3

In [236]:
#drop duplicate values
song_66.drop_duplicates()

Goerge     NaN
Ringo      4.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [237]:
song_66

Goerge     NaN
Ringo      4.0
John      11.0
Paul       9.0
Matt      11.0
Name: Counts, dtype: float64

In [238]:
#identify the duplicated value
song_66.duplicated()

Goerge    False
Ringo     False
John      False
Paul      False
Matt       True
Name: Counts, dtype: bool

In [239]:
#remove duplicated values
mask=song_66.duplicated()
song_66[mask]

Matt    11.0
Name: Counts, dtype: float64

In [240]:
#create a duplicate index, and drop it
scores3 = pd.Series([67.3, 100, 96.7, None, 100, 79],
          index=['Ringo', 'Paul', 'George', 'Peter', 'Billy',
          'Paul'])

In [245]:
scores3.groupby(scores3.index).first()#keep the first

Billy     100.0
George     96.7
Paul      100.0
Peter       NaN
Ringo      67.3
dtype: float64

In [244]:
scores3.groupby(scores3.index)

In [246]:
scores3.groupby(scores3.index).last()#keep the first

Billy     100.0
George     96.7
Paul       79.0
Peter       NaN
Ringo      67.3
dtype: float64

# Statatics

In [247]:
#ignore null
song_66.mean()

8.75

In [248]:
song_66.median()

10.0

In [249]:
song_66.quantile()

10.0

In [250]:
song_66.quantile(.1)

5.5

In [251]:
song_66.quantile(.9)

11.0

In [252]:
song_66.describe()

count     4.000000
mean      8.750000
std       3.304038
min       4.000000
25%       7.750000
50%      10.000000
75%      11.000000
max      11.000000
Name: Counts, dtype: float64

In [254]:
song_66.describe(percentiles=[0.05, 0.1, 0.2])

count     4.000000
mean      8.750000
std       3.304038
min       4.000000
5%        4.750000
10%       5.500000
20%       7.000000
50%      10.000000
max      11.000000
Name: Counts, dtype: float64

In [255]:
song_66.max()

11.0

In [256]:
song_66.min()

4.0

In [257]:
song_66.idxmin()#find index of the min value

'Ringo'

In [258]:
song_66.idxmax()

'John'

In [259]:
song_66.var()

10.916666666666666

In [260]:
song_66.std()

3.304037933599835

In [261]:
#mean absolute deviation
song_66.mad()

2.375

In [262]:
#how skew the data frequency is
song_66.skew()

-1.5595074449133886

In [263]:
#kurtosis: alog with skew
song_66.kurt()

2.1726006642969526

In [264]:
#covariance: two variable change together
song_66.cov(song_69)

28.0

In [265]:
#pearson correlation
song_66.corr(song_69)

0.8737210711800153

In [266]:
#autocorrelation: describes the correlation of a series with itself shifted one position
song_66.autocorr() #does not ignore null

-0.720576692122892

In [267]:
song_66.dropna().autocorr()

-0.720576692122892

In [268]:
#  first discrete difference 
song_66.diff()

Goerge    NaN
Ringo     NaN
John      7.0
Paul     -2.0
Matt      2.0
Name: Counts, dtype: float64

In [270]:
song_66

Goerge     NaN
Ringo      4.0
John      11.0
Paul       9.0
Matt      11.0
Name: Counts, dtype: float64

In [269]:
#  cumulative sum 
song_66.cumsum()

Goerge     NaN
Ringo      4.0
John      15.0
Paul      24.0
Matt      35.0
Name: Counts, dtype: float64

In [271]:
#  cumulative product
song_66.cumprod()

Goerge       NaN
Ringo        4.0
John        44.0
Paul       396.0
Matt      4356.0
Name: Counts, dtype: float64

In [272]:
#  cumulative minimum
song_66.cummin()

Goerge    NaN
Ringo     4.0
John      4.0
Paul      4.0
Matt      4.0
Name: Counts, dtype: float64

### Convert type

In [5]:
song_66

Goerge     2.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [6]:
song_69

John      18
Paul      22
Goerge     7
Ringo      5
Name: Counts, dtype: int64

In [8]:
song_69.round()

John      18
Paul      22
Goerge     7
Ringo      5
Name: Counts, dtype: int64

In [11]:
song_69.clip(lower=6, upper=20)

John      18
Paul      20
Goerge     7
Ringo      6
Name: Counts, dtype: int64

In [12]:
song_69.astype(str)#change numeric to string, show object instead of int64

John      18
Paul      22
Goerge     7
Ringo      5
Name: Counts, dtype: object

In [13]:
pd.to_numeric(song_69.apply(str))

John      18
Paul      22
Goerge     7
Ringo      5
Name: Counts, dtype: int64

In [14]:
pd.to_datetime(pd.Series(['Sep 7, 2001',
                          '9/8/2001', '9-9-2001', '10th of September 2001',
                          # 'Once de Septiembre 2001'will cause errors so coerce fill in with NaN 
                          #otherwise there will be an error
                          'Once de Septiembre 2001']), errors='coerce')

0   2001-09-07
1   2001-09-08
2   2001-09-09
3   2001-09-10
4          NaT
dtype: datetime64[ns]

### dealing with null

In [15]:
song_66

Goerge     2.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [16]:
song_66.fillna(-1)

Goerge     2.0
Ringo     -1.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [17]:
song_66.dropna()

Goerge     2.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [18]:
mask=song_66.notnull()
mask

Goerge     True
Ringo     False
John       True
Paul       True
Name: Counts, dtype: bool

In [19]:
song_66[mask]

Goerge     2.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [22]:
mask1=song_66.isnull()
mask1

Goerge    False
Ringo      True
John      False
Paul      False
Name: Counts, dtype: bool

In [23]:
song_66[mask1]

Ringo   NaN
Name: Counts, dtype: float64

In [24]:
~mask1 #flip mask1

Goerge     True
Ringo     False
John       True
Paul       True
Name: Counts, dtype: bool

In [25]:
#locate first and last valid index value
song_66.first_valid_index()

'Goerge'

In [26]:
song_66.last_valid_index()

'Paul'